{{extend 'new_layout.html'}}
<link href="{{=URL('static','css/pages/reportes.css')}}" rel="stylesheet">
<link href="{{=URL('static','css/datepicker.css')}}" rel="stylesheet">

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(Costo);
      google.setOnLoadCallback(Consumo);
      google.setOnLoadCallback(Minutos);
      google.setOnLoadCallback(Llamadas);
      google.setOnLoadCallback(Ganancia);
      google.setOnLoadCallback(Rentabilidad);
      function Costo() {
        var data = google.visualization.arrayToDataTable(
            {{=XML(costos)}}
        );

        var options = {
          title: 'Costo',
          hAxis: {title: 'Fecha', titleTextStyle: {color: 'red'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('costo'));
        chart.draw(data, options);
      }
      function Consumo() {
        var data = google.visualization.arrayToDataTable(
        {{=XML(consumo)}}
        );

        var options = {
          title: 'Consumo',
          hAxis: {title: 'Fecha', titleTextStyle: {color: 'red'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('consumo'));
        chart.draw(data, options);
      }
      function Minutos() {
        var data = google.visualization.arrayToDataTable(
                {{=XML(minutos)}}
        );

        var options = {
          title: 'Minutos',
          hAxis: {title: 'Fecha', titleTextStyle: {color: 'red'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('minutos'));
        chart.draw(data, options);
      }
      function Llamadas() {
        var data = google.visualization.arrayToDataTable(
                {{=XML(llamadas)}}
        );

        var options = {
          title: 'Llamadas',
          series: [{color: 'blue', lineWidth: 1}, {color: 'orange', lineWidth: 1}, {color: 'red', lineWidth: 1}],
          hAxis: {title: 'Fecha', titleTextStyle: {color: 'red'}},
	  vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('llamadas'));
        chart.draw(data, options);
      }
      function Ganancia() {
        var data = google.visualization.arrayToDataTable(
                {{=XML(ganancia)}}
        );

        var options = {
          title: 'Ganancia',
          hAxis: {title: 'Fecha', titleTextStyle: {color: 'red'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.LineChart(document.getElementById('ganancia'));
        chart.draw(data, options);
      }
      function Rentabilidad() {
        var data = google.visualization.arrayToDataTable(
                {{=XML(rentabilidad)}}
        );

        var options = {
          title: 'Rentabilidad',
          hAxis: {title: 'Fecha', titleTextStyle: {color: 'red'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.LineChart(document.getElementById('rentabilidad'));
        chart.draw(data, options);
      }
    </script>
<h1 align=center style="color:black">Graficos</h1>
{{=form.custom.begin}}
<table align=center style="color:black;line-height:0.5">
    <tr height="30"></tr>
    <tr align=center>
        <td width="80px" height="30">Fecha Inicio:</td>
        <td width="180px" height="30">{{=form.custom.widget.start_time}}</td>
	<td width="50px" height="30">Cliente:</td>
        <td width="250px" height="30">{{=form.custom.widget.cliente}}</td>
	<td width="50px" height="30">Vendedor:</td>
        <td width="120px" height="30">{{=form.custom.widget.vendedor}}</td>

    </tr>
    <tr align=center>
        <td width="80px" height="30">Fecha Fin:</td>
        <td width="180px" height="30">{{=form.custom.widget.end_time}}</td>
	<td width="50px" height="30">Cuenta:</td>
        <td width="250px" height="30">{{=form.custom.widget.cuenta}}</td>
	<td width="120px" height="30" align="center">{{=form.custom.submit}}</td>
	<td></td>
    <tr>
    <tr height="30"></tr>
</table>
{{=form.custom.end}}
<table align=center>
<tr>
    <td align=center>
        <div id="costo" style="width: 500px; height: 300px;"></div>
    </td>
    <td align=center>
        <div id="consumo" style="width: 500px; height: 300px;"></div>
    </td>
</tr>
<tr>
    <td align=center>
        <div id="minutos" style="width: 500px; height: 300px;"></div>
    </td>
    <td align=center>
        <div id="llamadas" style="width: 500px; height: 300px;"></div>
    </td>
</tr>
<tr>
    <td align=center>
        <div id="ganancia" style="width: 500px; height: 300px;"></div>
    </td>
    <td align=center>
        <div id="rentabilidad" style="width: 500px; height: 300px;"></div>
    </td>
</tr>
</table>
</div>
</div>
</div>
