{{extend 'new_layout.html'}}
{{
import random
color_data =['#{:06x}'.format(random.randint(0, 0xffffff)) for n in current_channels]
}}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1 align=center style="color:black">Canales por proveedor</h1>
        {{=form.custom.begin}}
          <table align=center style="color:black;line-height:0.5">
                <tr height="30"></tr>
                <tr>
                    <td width="80px" height="30">Fecha Inicio:</td>
                    <td width="160px" height="30">{{=form.custom.widget.start_time}}</td>
                    <td width="50px" height="30">Cliente:</td>
                    <td width="260px" height="30">{{=form.custom.widget.cliente}}</td>
                    <td width="70px" height="30">Vendedor:</td>
                    <td width="120px" height="30">{{=form.custom.widget.vendedor}}</td>
                    <td width="80px" height="30">Proveedor:</td>
                    <td width="150px" height="30">{{=form.custom.widget.proveedor}}</td>
                </tr>
                <tr>
                    <td width="80px" height="30">Fecha Fin:</td>
                    <td width="160px" height="30">{{=form.custom.widget.end_time}}</td>
                    <td width="50px" height="30">Cuenta:</td>
                    <td width="260px" height="30">{{=form.custom.widget.cuenta}}</td>
                    <td width="70px" height="30">Estado:</td>
                    <td width="120px" height="30">{{=form.custom.widget.call_state}}</td>
		    <td width="80px" height="30"></td>
		    <td width="150px" height="30"></td>
                </tr>
                <tr>
		    <td height="10"></td>
		</tr/>
                <tr>
                    <td>{{=form.custom.submit}}</td>
                </tr>
            </table>    
        {{=form.custom.end}}
            <br/>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Canales
                            <small>(Calls)</small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="polarArea"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static','js/moment.min.js')}}"></script>
<script src="{{=URL('static','vendors/Chart.js/dist/Chart.min.js')}}"></script>
<script>
    Chart.defaults.global.legend = {
        enabled: false
    };
    // PolarArea chart
    var ctx = document.getElementById("polarArea");
    var data = {
//        datasets: [{
//            backgroundColor: "rgba(0, 157, 224, 0.4)",
//            pointRadius: 0,
//            //backgroundColor: "#009DE0",
//            //pointBorderColor: "rgba(26, 26, 26, 0.4)",
//            //pointBackgroundColor: "#1A1A1A",
//            label: 'Canales'
//        }],
        datasets: [
    {{for provider in current_channels:}}
                {
            data: {{=XML(current_channels[provider])}},
            label: '{{=provider}}',
                    pointRadius: 0,
                    backgroundColor: "rgba(0, {{=random.randint(0,255)}}, {{=random.randint(0,255)}}, 0.4)",
        },
    {{pass}}

        ],
        labels: {{=XML(time_headers)}},
    };

    var polarArea = new Chart(ctx, {
        data: data,
        type: 'line',
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Llamadas'
                    }
                }],
                xAxes: [{
//                    scaleLabel: {
//                        display: true,
//                        labelString: 'Times'
//                    },
                    ticks: {
                        maxTicksLimit: 24
                    },
//                    type: 'time',
                    time: {
                        unit: 'hour',
                        displayFormats: {
                            hour: 'h'
                        }
                    }
                }]
            },
        }
    });
</script>
