{{if auth.user:}}
<!-- menu profile quick info -->
<div class="profile">
    <div class="profile_pic" style="text-align: center">
        <img src="{{=URL('static','images/favicon.png')}}">
    </div>
    <div class="profile_info">
        <span>{{=T('Welcome')}},</span>
        <h2>{{=auth.user.first_name}}</h2>
    </div>
</div>
<br/>
<!-- /menu profile quick info -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
{{if auth.has_membership(role='root'):}}
    <div class="menu_section">
        <h3></h3>
        <br/>
        <ul class="nav side-menu">
            <li><a href="{{=URL('default','index')}}"><i class="fa fa-home"></i> Panel </a>
            </li>
            <li><a><i class="fa fa-edit"></i> {{=T('Basics')}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{=URL('config','customers')}}">{{=T('Customers')}}</a></li>
                    <li><a href="{{=URL('config','packages')}}">{{=T('Packages')}}</a></li>
                    <li><a href="{{=URL('config','areas')}}">{{=T('Areas')}}</a></li>
                    <li><a href="{{=URL('config','roles')}}">{{=T('Roles')}}</a></li>
                    <li><a href="{{=URL('config','business_areas')}}">{{=T('Business Areas')}}</a></li>
                    <li><a href="{{=URL('config','services_classes')}}">{{=T('Services Classes')}}</a></li>
                    <li><a href="{{=URL('config','countries')}}">{{=T('Countries')}}</a></li>
                    <li><a href="{{=URL('config','cities')}}">{{=T('Cities')}}</a></li>
                    <li><a href="{{=URL('config','mail_notifications')}}">{{=T('Mail Notifications')}}</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> {{=T('Commercial')}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{=URL('config','currencies')}}">{{=T('Currencies')}}</a></li>
                    <li><a href="{{=URL('config','billing_periods')}}">{{=T('Billing Periods')}}</a></li>
                    <li><a href="{{=URL('config','payment_means')}}">{{=T('Payment Means')}}</a></li>
                    <li><a href="{{=URL('config','payment_methods')}}">{{=T('Payment Methods')}}</a></li>
                    <li><a href="{{=URL('config','payment_kinds')}}">{{=T('Payment Kinds')}}</a></li>
                    <li><a href="{{=URL('config','commercial_documents')}}">{{=T('Commercial Documents')}}</a></li>
                    <li><a href="{{=URL('config','banks')}}">{{=T('Banks')}}</a></li>
                    <li><a href="{{=URL('config','banks_account_types')}}">{{=T('Bank Account Types')}}</a></li>
                    <li><a href="{{=URL('config','services_descriptions')}}">{{=T('Services Descriptions')}}</a></li>

                </ul>
            </li>
            <li><a><i class="fa fa-users"></i> {{=T('Users')}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{=URL('user','manage')}}">{{=T('Manage')}}</a></li>
                    <li><a href="{{=URL('user','groups')}}">{{=T('Groups')}}</a></li>
                    <li><a href="{{=URL('user','memberships')}}">{{=T('Memberships')}}</a></li>
                    <li><a href="{{=URL('user','sellers')}}">{{=T('Sellers')}}</a></li>
                    <li><a href="{{=URL('user','customers_sellers')}}">{{=T('Customers Sellers')}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
{{pass}}
    <div class="menu_section">
        <h3>Setup</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-building"></i> {{=T('Business')}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                {{if auth.has_membership(role='root'):}}
                    <li><a href="{{=URL('setup','voip')}}">{{=T('VOIP')}}</a></li>
                    <li><a href="{{=URL('customers','manage')}}">{{=T('Customers')}}</a></li>
                    <li><a href="{{=URL('customers','contract')}}">{{=T('Customers Contracts')}}</a></li>
                    <li><a href="{{=URL('setup','service')}}">{{=T('Services')}}</a></li>
                    <li><a href="{{=URL('providers','manage')}}">{{=T('Providers')}}</a></li>
                {{pass}}
                {{if auth.has_membership(role='sales'):}}
                    <li><a href="{{=URL('customers','manage_limited')}}">{{=T('Customers')}}</a></li>
                {{pass}}
                </ul>
            </li>
        </ul>
    </div>
{{if auth.has_membership(role='root') or auth.has_membership(role='sales'):}}
    <div class="menu_section">
        <h3>Manage</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-database"></i> {{=T('Reports')}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{=URL('admin', 'graphics')}}"><i class="fa fa-area-chart"></i>{{=T('Graphics')}}</a></li>
                    <li><a href="{{=URL('admin', 'customers_channels')}}"><i class="fa fa-signal"></i>{{=T('Customers Channels')}}</a></li>
                    {{if auth.has_membership(role='root'):}}
                    <li><a href="{{=URL('admin', 'providers_channels')}}"><i class="fa fa-signal"></i>{{=T('Providers Channels')}}</a></li>
                    {{pass}}
                    <li><a href="{{=URL('admin', 'cdr_reports')}}"><i class="fa fa-volume-control-phone"></i>{{=T('CDRs')}}</a></li>
                    <li><a href="{{=URL('admin', 'admin_reports')}}"><i class="fa fa-search"></i>{{=T('Administration')}}</a></li>
                    <li><a href="{{=URL('status', 'credits')}}"><i class="fa fa-credit-card"></i>{{=T('Payments')}}</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-windows"></i> {{=T('Status')}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{=URL('status', 'accounts')}}"><i class="fa fa-users"></i>{{=T('Accounts')}} </a>
                    {{if auth.has_membership(role='root'):}}
                    <li><a href="{{=URL('status', 'current_calls')}}"><i class="fa fa-phone"></i>{{=T('Current Calls')}}</a>
                    {{pass}}
                    <li><a href="{{=URL('status', 'customer_current_calls')}}"><i class="fa fa-phone"></i>{{=T('Customer Current Calls')}} </a>
                    <li><a href="{{=URL('status', 'registered_users')}}"><i class="fa fa-user"></i>{{=T('Registered Users')}} </a>
                </ul>
            </li>
        </ul>
    </div>
{{pass}}
</div>
{{pass}}
