{{extend 'new_layout.html'}}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Indicadores</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

<div class="col-md-8 col-sm-8 col-xs-12">
    <row>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Costo</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="CostoChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Consumo</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="ConsumoChart"></canvas>
                    </div>
                </div>
            </div>
        </row>
    <row>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Minutos</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="MinutosChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Llamadas</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="LlamadasChart"></canvas>
                    </div>
                </div>
            </div>
        </row>
            </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Cuentas No Referenciadas</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Servidor</th>
                                <th>Login</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{if len(data)>0:}}
                            {{for row in data:}}
                            <tr>
                                <td>{{=row[0]}}</td>
                                <td>{{=row[1]}}</td>
                            </tr>
                            {{pass}}
                            {{pass}}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>


<script src="{{=URL('static','vendors/Chart.js/dist/Chart.min.js')}}"></script>

<script>
    Chart.defaults.global.legend = {
        enabled: false
    };
    var ctx = document.getElementById("CostoChart");
    var mybarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{=XML(costos[0])}},
            datasets: [{
                label: 'Costo',
                backgroundColor: "#26B99A",
                data: {{=XML(costos[1])}}
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById("ConsumoChart");
    var mybarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{=XML(consumos[0])}},
            datasets: [{
                label: 'Consumo',
                backgroundColor: "#46B99A",
                data: {{=XML(consumos[1])}}
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById("MinutosChart");
    var mybarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{=XML(minutos[0])}},
            datasets: [{
                label: 'Minutos',
                backgroundColor: "#86B99A",
                data: {{=XML(minutos[1])}}
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById("LlamadasChart");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{=XML(llamadas[0])}},
            datasets: [{
                label: "Intentos",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: {{=XML(llamadas[1])}}
            }, {
                label: "Completados",
                backgroundColor: "rgba(3, 88, 106, 0.3)",
                borderColor: "rgba(3, 88, 106, 0.70)",
                pointBorderColor: "rgba(3, 88, 106, 0.70)",
                pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(151,187,205,1)",
                pointBorderWidth: 1,
                data: {{=XML(llamadas[2])}}
            }, {
                label: "Fallados",
                backgroundColor: "rgba(3, 88, 106, 0.3)",
                borderColor: "rgba(3, 88, 106, 0.70)",
                pointBorderColor: "rgba(3, 88, 106, 0.70)",
                pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(151,187,205,1)",
                pointBorderWidth: 1,
                data: {{=XML(llamadas[3])}}
            }]
        },
    });
</script>