{{extend 'layout.html'}}

<h1>Consolidado de Facturación - Automático</h1>

<table border="1">
    <tr>
        <td></td>
        <td>Nombre Comercial</td>
        <td>Nombre Legal</td>
        <td>RUC</td>
        <td>Producto</td>

        <td>Instalación</td>
        <td>Mensual</td>
        <td>Minutos</td>
        <td>Moneda</td>
        <td>Monto</td>
    </tr>
    {{for line in data:}}
    <tr>
        <td style="text-align:right;width: 50px">{{=A('Facturar', _href=URL('administrative', 'invoice', vars=dict(customer=line[0],service=line[1],start_time=line[11], end_time=line[12])))}}</td>
        <td style="text-align:right;width: 50px">{{=line[2]}}</td>
        <td style="text-align:right;width: 50px">{{=line[3]}}</td>
        <td style="text-align:right;width: 50px">{{=line[4]}}</td>
        <td style="text-align:right;width: 50px">{{=services_options[line[1]]}}</td>

        <td style="text-align:right;width: 50px">{{=round(line[7],2)}}</td>
        <td style="text-align:right;width: 50px">{{=round(line[8],2)}}</td>
        <td style="text-align:right;width: 50px">{{=round(line[9],2)}}</td>
        <td style="text-align:right;width: 50px">{{=name_data(db.currencies,line[5])}}</td>
        <td style="text-align:right;width: 50px">{{=round(line[10],2)}}</td>
    </tr>
    {{pass}}
</table>